<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <head th:replace="fragments/base.html :: headerfiles(title='Catering')">
      <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <title>Catering</title>
  </head>
  <body>
    <header th:replace="fragments/base.html :: home">
      <a href="home.html" th:href="@{/home}"><img src="/static/images/home.png"></a>
    </header>
    <h2>BUFFET:</h2>
    <div class="formcontainer">
      <form th:action="@{/admin/buffet/add}" method="post" th:object="${buffet}">
        <input type="hidden" th:field="*{piatti}">
        <input type="hidden" th:field="*{id}">
        <div>
          <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
        </div>
        <div>
          <span><input id="descrizione" type="text" th:field="*{descrizione}" placeholder="Descrizione"></span>
        </div>
        <div>
            <span>
                <select th:field="*{chef}">
                    <option value="" disabled selected>Seleziona lo chef</option>
                    <option th:each="chef : ${chefs}" th:value="${chef.id}" th:text="${chef.nome} + ' ' + ${chef.cognome}" th:if="${chef.nome}"></option>
                </select>
            </span>
        </div>
        <div>
            <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
            <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
          </div>
      </form>
    </div>
    <footer th:replace="fragments/base.html :: end"></footer>
  </body>
</html>
