<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elenco</title>
</head>
<body>
    <a href="home.html" th:href="@{/home}">Home</a>
    <div th:if="${buffets.size()}">
        <h1>Elenco buffet</h1>
        <ul>
            <li th:each="buffet : ${buffets}">
                <a href="buffet.html" th:href="@{'/buffet/get/' + ${buffet.id}}" 
                th:text="${buffet.nome} + ': ' + ${buffet.descrizione}">Buffet x: Evento 2021</a>
            </li>
        </ul>
    </div>
    <div th:if="!${buffets.size()}">
        <h2>Non sono presenti buffet</h2>
    </div>
</body>
</html>