<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buffet</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Dettagli sul buffet</h1>
    <div th:if="${buffet}">
        <p th:text="'Nome: ' + ${buffet.nome}">Nome: Buffet x</p>
        <p th:text="'Descrizione: ' + ${buffet.descrizione}">Descrizione: Evento 2021</p>
        <p th:text="'Proposto dallo chef: ' + ${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"></p>
        <h2>Propone i seguenti piatti</h2>
        <ul>
            <li th:each="piatto : ${buffet.piatti}">
                <a href="piatto.html" th:href="@{'/piatto/get/' + ${piatto.id}}"
                th:text="${piatto.nome}">Carbonara</a>
            </li>
        </ul>
        <form th:action="@{'/piatto/form/get/all/chef=' + ${buffet.chef.id} + 'buffet=' + ${buffet.id}}" method="get">
            <span><button type="submit">Gestisci piatti</button></span>
        </form>
        <form th:action="@{'/buffet/form/modify/' + ${buffet.id}}" method="get" th:object="${buffet}">
            <span><button type="submit">Modifica</button></span>
        </form>
        <form th:action="@{'/buffet/delete/' + ${buffet.id}}" method="post" th:object="${buffet}">
            <span><button type="submit">Elimina</button></span>
        </form>
        
    </div>
</body>
</html>