<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <head th:replace="fragments/base.html :: headerfiles(title='Catering')">
      <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <title>Catering</title>
  </head>
  <body>
    <header th:replace="fragments/base.html :: home">
      <a href="home.html" th:href="@{/home}"><img src="/static/images/home.png"></a>
    </header>
    <h2>CHEF:</h2>
    <div class="formcontainer">
      <!--
        th:action => specifica l'url a cui mandare la richiesta HTTP
        th:object => specifica che i dati raccolti dalla form sono dati che comporrano un oggetto persona
        th:field => specifica il campo dell'oggetto, in particolare l'asterisco denota che
                    si tratta di un campo facente parte dell'oggetto definito in th:object
      -->
      <form th:action="@{/admin/chef/add}" method="post" th:object="${chef}">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err: ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <div>
          <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
          <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>
        <div>
          <span><input type="text" th:field="*{cognome}" placeholder="Cognome"></span>
          <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
        </div>
        <div>
          <span><input type="text" th:field="*{nazionalita}" placeholder="Nazionalità"></span>
          <span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
        <div>
          <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
          <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
        </div>
      </form>
    </div>
    <footer th:replace="fragments/base.html :: end"></footer>
  </body>
</html>
