<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elenco</title>
</head>
<body>
    <a href="/">Home</a>
    <div th:if="${ingredienti.size()}">
        <h1>Elenco ingredienti</h1>
        <ul>
            <li th:each="ingrediente : ${ingredienti}">
                <a href="ingrediente.html" th:href="@{'/ingrediente/get/' + ${ingrediente.id}}" 
                th:text="${ingrediente.nome}">Pasta</a>
                <span th:text="' (' + ${ingrediente.origine} + ')'"> (Italia)</span>
            </li>
        </ul>
    </div>
    <div th:if="!${ingredienti.size()}">
        <h2>Non sono presenti ingredienti</h2>
    </div>
</body>
</html>