<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <head th:replace="fragments/base.html :: headerfiles(title='Catering')">
      <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <title>Catering</title>
  </head>
  <body>
    <header th:replace="fragments/base.html :: home">
      <a href="home.html" th:href="@{/home}"><img src="/static/images/home.png"></a>
    </header>
    <h2>INGREDIENTE:</h2>
    <div class="formcontainer">
      <form th:action="@{/admin/ingrediente/add}" method="post" th:object="${ingrediente}">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err: ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{piatti}"/>
        <div>
          <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
          <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>
        <div>
          <span><input type="text" th:field="*{origine}" placeholder="Origine"></span>
          <span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
        </div>
        <div>
          <span><input id="descrizione" type="text" th:field="*{descrizione}" placeholder="Descrizione"></span>
          <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
        <div>
          <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
          <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
        </div>
      </form>
    </div>
    <footer th:replace="fragments/base.html :: end"></footer>
  </body>
</html>
