
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <head th:replace="fragments/base.html :: headerfiles(title='Catering')">
      <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <title>Catering</title>
  </head>
  <body>
    <header th:replace="fragments/base.html :: home">
      <a href="home.html" th:href="@{/home}"><img src="/static/images/home.png"></a>
    </header>
    <h2>PIATTO:</h2>
    <div class="formcontainer">
      <form th:action="@{/admin/piatto/add}" method="post" th:object="${piatto}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{buffets}">
        <input type="hidden" th:field="*{ingredienti}">
        <div>
          <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
        </div>
        <div>
          <span><input id="descrizione" type="text" th:field="*{descrizione}" placeholder="Descrizione"></span>
        </div>
        <div>
          <span>
            <select th:field="*{chef}">
              <option value="" disabled selected>Seleziona lo chef</option>
              <option th:each="c : ${chefs}" th:value="${c.id}" th:text="${c.nome} + ' ' + ${c.cognome}"></option>
            </select>
          </span>
        </div>
        <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
        <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
      </form>
    </div>
  </body>
</html>
